.checkout{
    font-size: 12px;
    font-weight: 500;
    color: #FFFFFF;
    border: 2px solid #000000;
    line-height: 18px;
    padding: 10.5px 33px;
    background-color: #000000;
    transition: all 0.5s;
    border-radius: 6px;
}