.logo-img-style{
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo-txt{
    font-family: 'poppins';
    font-weight: 700;
    padding: 10px;
    margin-bottom: 20px;
}