  
  .scrolling-wrapper {
    overflow-x: scroll;
         overflow-y: hidden;
     white-space: nowrap;
  
     .category-tile {
     
       display: inline-block;
     }
   }

   .category-main-heading{
    font-family: 'poppins';
    font-size: 16px;
    font-weight: 500;
  }